apiVersion: v1
kind: Service
metadata:
  name: fastapi-service
spec:
  type: NodePort
  selector:
    app: fastapi-app
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30000 # Puedes elegir un puerto entre 30000-32767. Asegúrate de que no esté en uso.
